table, th, td {
  border: 3px solid black;
}

label,span,input
{
  color: white;
}
  h1,h3{
  background-color: pink;
}


li{
  color:green;

}
body {
  background: radial-gradient(circle, black, white);
}
