{% extends 'todoapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/demo.css' %}">
{% block content %}
<div class="container">
<form method='post'>
{{form.as_p}}
{% csrf_token %}
<button type="submit" class="btn btn-success">ADD TASK</button>
</form>
</div>
<center><h3>List of items</h3></center>

{% for todo in tdata %}

<ul>
<li><b>Title: </b>{{todo.title}}</li>
<li><b>Description: </b>{{todo.details}}</li>
<li><b>Status: </b>{{todo.status}} </li>
<a href="/update/{{todo.id}}" class='btn btn-warning'>Update</a>
<a href="/delete/{{todo.id}}" class='btn btn-danger'>Delete</a>
</ul>

{% endfor %}

<center><h3>Complted Tasks</h1></center>

{% for todo in ddata %}
<ul>
<li><b>Title: </b>   {{todo.title|title}}</li>
</ul>
{% endfor %}

{% endblock %}
